            <li class="iron-horse"><a href="http://www.ironhorserails.com">Iron Horse Rails</a></li>
            <li><a href="#top">What is Testing?</a></li>
            <li>
            	<a href="#typestest">Types of Tests</a>
            </li>
            <li>
            	<a href="#examplestestunit">Examples Test::Unit</a>
            </li>
            <li>
            	<a href="#examplesrspec">Examples for Rspec</a>
            </li>
            <li>
            	<a href="#settingupdata">Setting Up Your Data</a>
            </li>
            <li>
            	<a href="#fixtures">Fixtures</a>
            </li>
            <li>
            	<a href="#factories">Factories</a>
            </li>
            <li>
            	<a href="#minitest">MiniTest/Capybara</a>
            </li>
            <li>
            	<a href="#examplefeaturetest">Example Feature Test</a>
            </li>
            <li>
            	<a href="#mixingitup">Mixing it Up: Capybara</a>
            </li>
            <li>
            	<a href="#minitestspec">MiniTest::Spec</a>
            </li>
            <li>
            	<a href="#rspecwithcapybara">Rspec/Factory Girl</a>
            </li>
            <li>
            	<a href="#mockingstubbing">Mocking/Stubbing</a>
            </li>
            <li>
            	<a href="#pageobject">Page Object Pattern</a>
            </li>
            <li>
            	<a href="#debugging">Debugging</a>
            </li>
            <li>
            	<a href="#git">Git Debugging</a>
            </li>
            <li>
            	<a href="#addendum">Addendum</a>
            </li>
            <li>
            	<a href="#references">References</a>
            </li>

