<% content_for :body do %>
  <div class="small-9 columns blog">
    <h1>Editing User: <%= @user.email %></h1>
    <%= render 'form' %>
    <p class="show_nav_links">
      <%= link_to 'Back', users_path %>
    </p>
  </div>
<% end %>

