<% content_for :body do %>
  <div class="jerry"><h2 >Jerry Thompson</h2></div>
  <div class="being-here"><h1 class= "welcome">Being Here</h1></div>
  <div class="musings">
    <div class="muse">
      <div class="quote_drop_cap"><%= image_tag "begin_white_quote.png", id: "begin-quote" %></div>
        <h2>Analytical investigations into the polymorphic nature of change
            and musings on how meta cognitive behavior can create new worlds.</h2>
          <div class="quote_drop_cap_end"><%= image_tag "end_white_quote.png", id: "end-quote" %></div>
       <p class="front_pg_img">
            <%= image_tag( "hand_boson.png" ) %>
       </p>
    </div>
  </div>
  <div class="small-8">
    <p class="ok">
    <span class="drop_cap_small">O.K.,</span> that may not have grabbed you. What you need is some vision and 
    a clear path on how to get there. And when you get there an app that
    works great, looks great, and has low maintenance. Oh, and it gets built fast
    with your new ideas incorpoated as things progress. Throw in a clearly documented
    build process and you have Agile Development using BDD, or Behavior Driven Design.
    </p>
  </div>
  <div class="small-8">
    <p class="qualities">
    Those are the qualities I can bring to your project. Agile development built on
    stories, solid testing, and clarity. You will save 80% in maintenance by using
    good test driven design. Using minitest, rspec, capybara, selenium, and the fast
    rails development environment. jQuery front end using Zurb Foundation or 
    Bootstrap.<br /> 
    </p>
  </div>
<% end %>
<% content_for :panel do %>
  <div class="about-us">
    <p>
    <span class="drop_cap">I AM</span> a Ruby on Rails software developer who lives in the Pacific Northwest. Writing good software
    that is clean, flexible, documented, scalable, responsive, and fast is a passion which I enjoy. Creating a UI that is easy
    to navigate, draws a customer to a CTA or inspires a user to investigate further brings an immense degree
    of satisfaction in my work. Creativity, clear communication, and working with others to make something
    great is the most satifying thing in my life.
    </p> 
  </div>
  <div class="contact">  
    <a href="mailto:jet@whidby.com"><span class="contact_btn">Contact Me!</span></a>
  </div> 
  <div class="profile-link">
    <p class="profile"><%= link_to "Portfolio", '/portfolio' %></p>
  </div>
<% end %>
