<h1>Jerry Thompson</h1>
<h2>Being Here</h2>
<h4> &quot;Analytical investigations into the polymorpic mind 
      and musings on how meta cogntive behavior can blow your mind.&quot;</h4>
    <p>
   O.K., that didn't really grab you. What you need is some vision and 
a clear path on how to get there. And when you get there an application that
works great, looks great, and has low maintenance. Oh, and it gets built fast
with your new ideas incorpoated as things progress. Throw in a clearly documented
build process and you have Agile Development using BDD, OR Behavior Driven Design.
</p>
<p>
  Those are the qualities I can brind to your project. Agile development built on
  stories, solid testing, and clarity. You will save 80% in maintenance by using
  good test driven design. Using minitest, rspec, capybara, selenium, and the fast
  rails development environment. jQuery on the front end, with Zurb Foundation or 
  Bootstrap. Done!
</p>

