<h1>Comments</h1>
<p>
  Markdown syntax can be used for making a comment. If you wish to highlight a ruby block use:
</p>
<p>&nbsp;&nbsp;&nbsp;```ruby</p>
<p>to begin block, and close block with &nbsp;&nbsp;&nbsp;```</p>
<div id="_kmts" class= "comments">
<script async="async" src=<%= Komments.website_url %>></script>
</div>

